


  <div class="container"> <br>
      <h2 class="mb-4">Property or Flats Management</h2>
        <div class="table-container"> <br>
     <button style="float: right;" (click)="openAddPropertyDialog()" matButton="elevated">Add Property</button> <br>
     <div class="mat-elevation-z8">
    <table appMatTableResponsive  mat-table [dataSource]="dataSource">

      
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

 
        <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
            <td mat-cell *matCellDef="let element" >
            <button  (click)="openUpdateDialog(element)" mat-icon-button color="primary" matTooltip="Update Property">
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="openDeleteDialog(element)" mat-icon-button color="warn" matTooltip="Delete Property">
                <mat-icon>delete</mat-icon>
            </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>
</div>
   


  </div>



<!-- 🧩 ADD PROPERTY DIALOG TEMPLATE -->
<ng-template #openAddDialog> <br>
    <div class="container-fluid dialog-header">
        <h2 style="display: inline;" mat-dialog-title>Add Property</h2>
        <button style="display: inline;float: right;" mat-icon-button mat-dialog-close aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button> <br> 

        <mat-dialog-content>
            <form [formGroup]="propertyForm" class="property-form">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Property Name</mat-label>
                                <input matInput formControlName="name" placeholder="Enter property name" />
                                @if (propertyForm.get('name')?.hasError('required')) {
                                <mat-error>Name is required</mat-error>
                                }
                                @if (propertyForm.get('name')?.hasError('minlength')) {
                                <mat-error>At least 3 characters</mat-error>
                                }
                            </mat-form-field>

                        </div>
                        <div class="col-md-6 ">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="address" placeholder="Enter property address" />
                                @if (propertyForm.get('address')?.hasError('required')) {
                                <mat-error>Address is required</mat-error>
                                }
                                @if (propertyForm.get('address')?.hasError('minlength')) {
                                <mat-error>At least 5 characters</mat-error>
                                }
                            </mat-form-field>

                        </div>  

                        <div class="row">
                            <div class="col-md-10">
                            <mat-form-field appearance="outline" style="width: 100%;" class="full-width">
                                <mat-label>Description</mat-label>
                                <textarea
                                matInput
                                formControlName="description"
                                rows="3"
                                placeholder="Enter description">
                                </textarea>

                                @if (propertyForm.get('description')?.hasError('required')) {
                                <mat-error>Description is required</mat-error>
                                }
                                @if (propertyForm.get('description')?.hasError('minlength')) {
                                <mat-error>At least 5 characters</mat-error>
                                }
                            </mat-form-field>
                            </div>
                            <div class="col-md-">
                                
                            </div>
                        </div>
                    </div>
                </div>
            

            </form>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
                @if (!loadAdding) {
                <button 
                    mat-raised-button 
                    color="primary" 
                    (click)="addProperty()">
                    Add Property
                </button>
                } @else {
                <button 
                    mat-raised-button 
                    color="primary" 
                    disabled>
                    Adding Property ...
                </button>
                }
        </mat-dialog-actions>
  </div>
</ng-template>




<ng-template #updateDialog> <br>
    <div class="container-fluid dialog-header">
            <h2 style="display: inline;" mat-dialog-title>Update Property</h2>
            <button style="display: inline;float: right;" mat-icon-button mat-dialog-close aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button> <br> 
        <mat-dialog-content>
            <form [formGroup]="updatePropertyForm" class="property-form">

            <div class="container-fluid">
                <div class="row">
                        <div class="col-md-6">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Property Name</mat-label>
                            <input matInput formControlName="name" />
                            @if (updatePropertyForm.get('name')?.hasError('required')) {
                            <mat-error>Name is required</mat-error>
                            }
                            @if (updatePropertyForm.get('name')?.hasError('minlength')) {
                            <mat-error>At least 3 characters</mat-error>
                            }
                        </mat-form-field>
                        </div>

                        <div class="col-md-6 ">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="address" />
                                @if (updatePropertyForm.get('address')?.hasError('required')) {
                                <mat-error>Address is required</mat-error>
                                }
                                @if (updatePropertyForm.get('address')?.hasError('minlength')) {
                                <mat-error>At least 5 characters</mat-error>
                                }
                            </mat-form-field>
                        </div>  
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <mat-form-field style="width: 100%;" appearance="outline" class="full-width">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description"></textarea>
                            @if (updatePropertyForm.get('description')?.hasError('required')) {
                            <mat-error>Description is required</mat-error>
                            }
                            @if (updatePropertyForm.get('description')?.hasError('minlength')) {
                            <mat-error>At least 5 characters</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>

        

        

        
            </form>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>

                @if (!loadUpdating) {
                <button 
                    mat-raised-button 
                    color="primary" 
                    (click)="updateProperty()">
                    Update Property
                </button>
                } @else {
                <button 
                    mat-raised-button 
                    color="primary" 
                    disabled>
                    Updating Property ...
                </button>
                }
        </mat-dialog-actions>

  </div>
</ng-template>





<ng-template #deleteDialog>
    <div class="container-fluid dialog-header">
        <h2 style="display: inline;" mat-dialog-title>Delete Property</h2>
        <button style="display: inline;float: right;" mat-icon-button mat-dialog-close aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button> <br> 

    <mat-dialog-content>
        <p>Are you sure you want to delete this property?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>No</button>
        @if (!loadDeleting) {
        <button 
            mat-raised-button 
            color="primary" 
            (click)="confirmDelete()">
            Delete Property
        </button>
        } @else {
        <button 
            mat-raised-button 
            color="primary" 
            disabled>
            Deleting Property ...
        </button>
        }
    </mat-dialog-actions>
    </div>
</ng-template>